*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#particles-js{
  height: 100vh;
  width: 100vw;
  background: url(bg.jpg);
  color: #ff9900;
  z-index: -1;
  position: absolute;
  background-size: contain;
}
.bg{
  background-color: rgba(0, 0, 0, 0.514);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.603);
  box-shadow: 2px 2px 15px 5px #fff;
}